# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

# 忽略 Qt Creator 的构建目录
build/
build-*/

# 忽略 Qt Creator 的用户配置（包含你本地的绝对路径，别人用不了）
*.pro.user
*.creator
*.creator.user
*.config

# 忽略编译生成的文件
*.o
*.obj
*.exe
*.a
*.so
*.dll
Makefile
Makefile.*
ui_*.h
moc_*.cpp
qrc_*.cpp

# 忽略调试文件
*.pdb